.header
  .header__color
    .header-sub
      %a.header-sub__left
      =link_to "Restaurant-Menu-APP"
      %ul.header-sub__right
        %li.header-sub__right--edit
          =link_to "My Page"
          = icon('fas', 'user', class: 'icon')
        %li.header-sub__right--out
          =link_to "Log Out"
          = icon('fas', 'sign-out-alt', class: 'icon')
    .header-main
      %b.header-main__name 太樹苑
      .header-main__bill-btn
        =link_to "会計"